<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Recipe</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Add New Recipe</h1>
      </header>

      <a href="/" class="btn">Back to Recipe Book</a>
    </div>
  </body>
</html>
